@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
}

.tabular {
  font-variant-numeric: tabular-nums;
}

::selection {
  background-color: #f1e3c6;
}
.dark ::selection {
  background-color: #3a311c;
}
